<div id="advanced_report_search">
  <%= form_for :search do |s| %>
    <% if @stores -%>
        Store:<br /><%= collection_select(:search, :store_id, @stores, :id, :name, { :include_blank => 'All' } ) %><br />
        <br>

    <% end -%>

    <div id="taxon_products">
    <% if @taxons -%>
        <%=t "taxons"%>: <%= collection_select(:advanced_reporting, :taxon_id, @taxons, :id, :name, { :include_blank => 'All' } ) %>
    <% end -%>
    <%=t :products%>: <%= collection_select(:advanced_reporting, :product_id, @products, :id, :name, { :include_blank => 'All' } ) %><br />
    </div>

    <%= t("date_range") %>:
    <div class="yui-g date-range-filter">
      <div class="yui-u sub-field first" style="float:left;">
        <label class="sub"><%= t("start") %></label>
        <%= s.text_field :completed_at_gt , :class => 'datepicker'%>
      </div>
      <div class="yui-u sub-field" style="float:left;">
        <label><%= t("stop") %></label>
        <%= s.text_field :completed_at_lt ,  :class => 'datepicker' %>
      </div>
    </div>

    <p><%= button t("update") %></p>
  <% end -%>
</div>

<% content_for :head do -%>
<style>
#content.with-sidebar { padding-left: 250px; background: #FFF; padding-right: 20px; min-height: 650px; }
h1 { margin: 0px; }

div#sidebar { padding-top: 5px; left: 0px; width: 220px; }
div#sidebar select { width: 200px; }
div.report_details { padding-left: 10px; }

ul#show_data { list-style-type: none; margin: 0px; padding: 10px 0px 20px 0px; }
ul#show_data li { padding-left:10px; height: 37px; padding-top: 3px; }
ul#show_data li:hover { cursor: pointer; }
ul#show_data li.selected { background: url(<%= asset_path 'admin/advanced_reporting/menu-current-opposite.png'%>); margin-right: -20px; }
div#advanced_report_search { padding-left: 10px; }
select#report { margin-left: 10px; }

div.canvas { padding-bottom: 20px; }
table.show_data td.selected { background: #999; }
table.show_data td:hover { cursor: pointer; }

th.header { background-image: url(<%= asset_path 'admin/advanced_reporting/bg.gif'%>); cursor: pointer; font-weight: bold; background-repeat: no-repeat; background-position: center left; padding-left: 20px; border-right: 1px solid #dad9c7;  margin-left: -1px; } 
th.headerSortUp { background-image: url(<%= asset_path 'admin/advanced_reporting/asc.gif'%>); background-color: #3399FF; }
th.headerSortDown { background-image: url(<%= asset_path 'admin/advanced_reporting/desc.gif'%>); background-color: #3399FF; }

ul#show_data a, #content div.links a { color: #000; font-size: 11px; font-weight: bold; }
ul#show_data a:visited, #content div.links a:visited { font-weight: normal; color: #000; }

ul#show_data {
  display: block;
}
ul#show_data li {
  display: inline-block;
  width:10%;
}
ul#show_data li.selected {
  background:#5fa5e8;
  margin:0;
}
</style>
<script type="text/javascript">
$(function() {
  $('ul#show_data li').click(function() {
    $('ul#show_data li').not(this).removeClass('selected');
    $(this).addClass('selected');
    var id = 'div#' + $(this).attr('id') + '_data';
    $('div.advanced_reporting_data').not($(id)).hide();
    $(id).show(); 
  });
  if($('input#product_id').length > 0) {
    $('select#advanced_reporting_product_id').val($('input#product_id').val());
  }
  if($('input#taxon_id').length > 0) {
    $('select#advanced_reporting_taxon_id').val($('input#taxon_id').val());
  }
  $('div#advanced_report_search form').submit(function() {
    $('div#advanced_report_search form').attr('action', $('select#report').val());
  });
  update_report_dropdowns($('select#report').val());
  $('select#report').change(function() { update_report_dropdowns($(this).val()); });

  if(completed_at_gt != '') {
    $('input#search_completed_at_gt').val(completed_at_gt);
  }
  if(completed_at_lt != '') {
    $('input#search_completed_at_lt').val(completed_at_lt);
  }
})
  
var update_report_dropdowns = function(value) { 
  $('div#taxon_products').hide();
};

var completed_at_lt = "<%= (@report.params && @report.params[:completed_at_lt]) ? @report.params[:completed_at_lt] : '' %>";
var completed_at_gt = "<%= (@report.params && @report.params[:completed_at_gt]) ? @report.params[:completed_at_gt] : '' %>";
</script>
<% end -%>

<% if params[:advanced_reporting] -%>
  <% if params[:advanced_reporting][:product_id] && params[:advanced_reporting][:product_id] != '' -%>
  <input type="hidden" id="product_id" value="<%= params[:advanced_reporting][:product_id] %>" />
  <% end -%>
  <% if params[:advanced_reporting][:taxon_id] && params[:advanced_reporting][:taxon_id] != '' -%>
  <input type="hidden" id="taxon_id" value="<%= params[:advanced_reporting][:taxon_id] %>" />
  <% end -%>
<% end -%>
